{% extends 'base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-md-12">
        <h2 class="text-center">Login</h2>
    </div>
</div>


<div class="container d-flex justify-content-center">
<form method="post" accept-charset="utf-8">
{% csrf_token %}
 {{form.as_p}}    
    <input type="submit" value="Login" class="btn btn-primary container">
    </form>
</div>

{% endblock %}
