{% extends 'base.html' %}
{% block content %} 
{% load crispy_forms_tags %}
<h3>Profile</h3>
<div class="container d-flex justify-content-center">
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }} {{ form_image.as_p}}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    

{% if request.user.profile.profile_pic %}

    <img class="w-50 rounded-circle" src="{{user.profile.profile_pic}}">
</div>
{% endif %} 
{% endblock %}