{% extends 'base.html' %}
{% block content %} 
{% load crispy_forms_tags %}

<div class="row mt-2">
    <div class="col-md-12">
        <h2 class="text-center">Register</h2>
    </div>
</div>
<div class="container d-flex justify-content-center">
<form method="post" accept-charset="utf-8">
{% csrf_token %}
  {{ register_form|crispy }}
    <div class="row">
        <input type="submit" value="Register" class="btn btn-primary container">
    </div>
</form>
</div>
{% endblock %}
