{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
<h1>Add track</h1>
<form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit" class="btn btn-primary">Create Track</button>
</form>
</div>
{% endblock %}