{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit" class="btn btn-primary">Create playlist</button>
</form>
{% endblock %}