{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            
                <h3>{{ tribe.name }}</h3>
                <!--kreiraj novi playlist-->
                {% if tribe.user == user %}
                    <a href="{% url 'createPlaylist' tribe.id %}">Create Playlist</a>
                {% endif %}
                <!--popis već kreiranih playlista-->
                {% for playlist in playlists %}
                    <div class="mt-4">
                        <h5><a href="{% url 'playlistDetail' tribe.id playlist.id %}">{{ playlist.name }}</a></h5>
                        <p>Description: {{ playlist.description }}</p>
                        <div class="d-flex">
                            {% if tribe.user == user %}
                            <!--izbriši playlist-->
                                <form action="{% url 'deletePlaylist' tribe.id playlist.id%}" method="post"> 
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <!--uredi playlist-->
                                <form action="{% url 'editPlaylist' tribe.id playlist.id%}" method="post"> 
                                    {% csrf_token %}
                                    <button type="submit" class="ml-2 btn btn-success">Edit</button>
                                </form>
                            {% endif %}
                        </div> 
                    </div>
                {% endfor %}
                <!--popis članova triba-->
                <h4>MEMBERS:</h4>
                    <div class="card">
                        {{ tribe.user }}
                        {% for member in members %}
                        <div class="d-flex mt-2">
                            <p class="mr-2">{{ member }}
                            {% if member == user %}
                                </p><i class="fa fa-check mt-1" aria-hidden="true">Joined</i ></button>
                                <!--napusti tribe-->
                                <form action="{% url 'leaveTribe' tribe.id user %}" method="post" > 
                                    {% csrf_token %}
                                    <button type="submit" class="ml-2 btn btn-danger"> 
                                    Leave tribe
                                    </button>
                                </form>
                            {% endif %}
                            <!--kikaj člana triba-->
                            {% if tribe.user == user%}
                                <form action="{% url 'kickMember' tribe.id member %}" method="post" > 
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger"> 
                                    Kick
                                    </button>
                                 </form>
                            {% endif %}
                            </div>
                        {% endfor %}
                        
                    </div>
        </div>
    
    <div class="col-sm-4">
    <!--poruke-->
        <h3>Chat</hr>
        <div style="height:500px; overflow:scroll; background:#E0E0E0;">
            {% for message in messages %}
            
                {% if user.is_authenticated and tribe.user == user %}
                    <span style="margin-top:; float:left">
                    <!--izbriši poruku-->
                    <form action="{% url 'deleteMessage' tribe.id message.id%}" method="post" > 
                        {% csrf_token %}
                        <button  style="padding: 0;border: none; background: none; margin-bottom: 40px; color:red;" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                    </span>
                {% endif %}
                <img src="{{message.profile_pic}}" alt="Avatar" style="float: left; max-width: 50px; width: 100%; margin-right: 20px; border-radius: 50%; height: 50px;"> 
                {% if message.user == tribe.user %}
                    <p  style=" color: orange;">{{message.user}}<span class="iconify" data-icon="fa-solid:crown" data-inline="false" style="margin-bottom: 7px; color: orange;"></span>: {{message.text}} <br><span>{{ message.created_at }}</span></p>
                {% else %}
                    <p  style="">{{message.user}}: {{message.text}} <br><span>{{ message.created_at }}</span></p>
                {% endif %}
                
            {% endfor %}
        </div>
        <!--pošalji poruku-->
        <form role="form" action="{% url 'sendMessage' tribe.id %}" method="post">
            {% csrf_token %}
            {% if tribe.user == user or user in tribe.member.all %}
                <textarea type="text" name="text" maxlength="500" required id="id_text" placeholder="write message..."></textarea> 
                <button type="submit" class="btn btn-primary">Send Message</button>
            {% endif %}
        </form>
    </div>
  </div>
  </div>




{% endblock %}