{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
<!--popis tribeova koja sam ja kreirao-->
    {% if my_tribes %}
        <h3 class="mt-2 text-center">Tribes I created <h3>
        {% for tribe in my_tribes %}
            <div class="mt-2">
                <img class="rounded-circle" src="{{tribe.tribe_image}}" alt="image" style="width:180px; height:180px">
                <a href="{% url 'tribeDetail' tribe.id %}">{{tribe.name}}</a>
            </div>
        
        {% endfor %}
    {% endif %}
    <!--popis tribeova kojima sam se pridružio-->
    {% if member_tribes %}
    <h3 class="mt-2 text-center">Tribes I joined <h3>
        {% for tribe in member_tribes %}
            <div class="mt-2">
                <img class="rounded-circle" src="{{tribe.tribe_image}}" alt="image" style="width:180px; height:180px">
                <a href="{% url 'tribeDetail' tribe.id %}">{{tribe.name}}</a>
            </div>
        {% endfor %}
    {% endif %}

    {% if free_tribes %}
        <h3 class="mt-2 text-center">Tribes I didn`t join <h3>
        <!--popis tribeova koji su slobodni-->
        {% for tribe in free_tribes %}
            <div class="mt-2">
                <img class="rounded-circle" src="{{tribe.tribe_image}}" alt="image" style="width:180px; height:180px">
                <a href="{% url 'tribeDetail' tribe.id %}">{{tribe.name}}</a>
                <!--pridruži se tribe-->
                <form action="{% url 'joinTribe' tribe.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Join</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}
    {% else %}
        {% for tribe in all_tribes %}
            <div class="mt-2">
                <img class="rounded-circle" src="{{tribe.tribe_image}}" alt="image" style="width:180px; height:180px">
                <a href="{% url 'tribeDetail' tribe.id %}">{{tribe.name}}</a>
            </div>
        {% endfor %}
{% endif %}   
{% endblock %}