{% extends 'base.html' %}
{% block content %}
    <!--playlist info-->
    <h1 class="mt-4" style="text-align: center;">{{ playlist.name }}<h1>
    <p style="font-size:20px; text-align: center;">{{ playlist.description }}</p>
    <p style="font-size:13px; text-align: center;"> {{ playlist.created_at}}</p>
    <p style="font-size:13px; text-align: center;"> {{ playlist.user }}</p>
    <p style="font-size:25px; text-align: center;"><a href="{% url 'addTrack' tribe.id playlist.id %}">Add track </a></p>
    <hr>
    <!--popis trackova-->
    {% if tracks %}
    {% for track in tracks %}
    <div class="container mt-3" style="border-style: solid; border-color: gray;">
        <p style="font-size:16px; text-align: center;">{{ track.track.artist }}
        <p style="font-size:22px; text-align: center;">{{track.track.title}} </p>
        <p style="font-size:22px; text-align: center;"><a href="{{track.track.youtube_url}}" target="_blank">Play on Youtube</a></p>
        <p style="font-size:16px; text-align: center;">Duration:{{track.track.duration}} minutes</p> 
        
        <!--delete track-->
        {% if tribe.user == user or user.is_superuser or track.track.user == user %}
            <form action="{% url 'deleteTrack' tribe.id playlist.id track.track.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete track</button>
            </form>
        {% endif %}
        
            <div class="d-flex">
            <!--lajk-->
            <form action="{% url 'upvote' tribe.id playlist.id track.track.id %}" method="post" role="form" >
                {% csrf_token %}
                {% if tribe.user == user or user in tribe.member.all %}
                    <button type="submit"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                {% else %}
                    <p type="submit"><i class="fa fa-thumbs-up" aria-hidden="true" disabled></i></p>
                {% endif %}
            </form>
            <span class="vote-score float-left">{{ track.track.upvote_score }}</span>
            <!--dislajk-->
            <form action="{% url 'downvote' tribe.id playlist.id track.track.id %}" method="post" role="form" >
                {% csrf_token %}
                {% if tribe.user == user or user in tribe.member.all %}
                    <button type="submit"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                {% else %}
                    <p type="submit"><i class="fa fa-thumbs-down" aria-hidden="true" disabled></i></p>
                {% endif %}
            </form>
            <span class="vote-score float-left">{{ track.track.downvote_score }}</span>
            </div>
        
            <!--komentari-->
            <div class="mb-4">
            {% if track.comments.count == 0 %}
                <span class = "show_hide" style="font-size:18px;"> Comment</span>
            {% else %}
                <span class = "show_hide" style="font-size:18px;"> Comments {{ track.comments.count }}</span>
            {% endif %}
            </div>
            <div class="comments_section container" style="display: none;">
                {% if track.comments %}
                {% for comment in track.comments %}
                    <div class="comment_container d-flex">
                        <img stle="width:25px; height:25px" src="{{ comment.image }}">
                        <div class="ml-2">
                        <p style="font-size:18px;">{{ comment.text }}</p>
                        <p style="font-size:18px;">Sent : {{ comment.created_at }}</p>
                        <p style="font-size:18px;">Author : {{ comment.user }} </p>
                        </div>
                        <!--izbriši komentar-->
                        {% if user.is_authenticated and tribe.user == user or user.is_superuser %}
                            <form action="{% url 'deleteComment' tribe.id playlist.id comment.id %}" method="post" class="ml-2">
                                {% csrf_token %}
                                <button type ="submit" class="btn btn-danger">Delete Comment </button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
                {% else %}
                    <p style="font-size:18px;">No one commented this track </p>
                {% endif %}
                <!--dodaj komentar-->
                {% if tribe.user == user or user in tribe.member.all %}
                <div class="comment_container mt-2">
                    <form role="form" action = "{% url 'comment' tribe.id playlist.id track.track.id  %}" method="post" >
                        {% csrf_token %}
                        <textarea style="font-size:18px;" type="text" name="text" maxlength="500" required placeholder="write comment..."></textarea> 
                        <button style="font-size:18px;" class="btn btn-success" type="submit">Comment</button>
                    </form>
                </div>
                {% endif %}
            </div>
        
        
    </div>
    {% endfor %}
    {% else %}
        <p style="text-align: center;">Lista je prazna</p>
    {% endif %}
    <!--funkcionalnost za prikaz i skrivanje komentara-->
    <script>
        $(document).ready(function(){
            $(".show_hide").click(function(){
                $(".comments_section").slideToggle();
            });

        });
    </script>
{% endblock %}